@CHARSET "UTF-8";
		a:link,a:visited{
			color:#e3e3e3;
			text-decoration:none;
		}

		a:hover{
			 color: white ; 
					
		}

		body{
			margin:0px auto;
			width: 1344px;
			height:auto;
/* 			border: 1px solid black;*/			
			background-color: #f5f5f5;
		}
		.div-top{
			display: none;
			width: 100%;
			height: 80px;
			background-color: white;
		}
		.fixed{
			display: block;
			z-index: 1000;
			position: fixed;
    		top: -40px;
    		left: 0px;
		}
		.div-top #下拉浮动框logo{
			margin-left:180px;
			margin-top:13px;
			float:left;
			/* border: 1px solid red; */
		}
		
		 .div-top #下拉浮动框logo img{
			
			width:196px; 
			height:57px ;
			
			/* margin: 5px; */
		}
		
		.div-top #浮动框搜索{						
			margin-left:490px;
			margin-top:23px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
		
		}
		
		.div-top  #浮动框搜索 input{			
			width:260px; 
			height:29px ;
			border:none

		} 
		.div-top   #浮动框搜索 div{
			
			float:left;
			border: 1px solid #e5e5e5;
		}
		
		.div-top #top-search #搜索 img{
			width:40px; 
			height:36px ;
			border: 1px solid #e5e5e5;
		}
		
		#top{
			height: 115px;
			/* border: 1px solid black; */
		}

		#top-address{
			background-color: #333333;
			height: 28px;
			/* border: 1px solid blue; */
				
		}
		#top-center{
					
			margin-left: 175px;
			width:995px;
			/* border: 1px solid red; */
		}
		#定位{
			width: 50%;
			margin: 4px 0px;
			font-size: 13px;
			float: left;
			color: #dddddd;
		}
		#top-center #我的{
			width: 50%;
			margin: 4px 0px;
			text-align: right;
			font-size: 13px;
			float: right;
			color: #dddddd;
		}
		

		#top-search{
			height: 83px;
			/* border: 1px solid pink; */
			background-color: #ffffff;

		}
		
		#top-search #logo{
			margin-left:170px;
			margin-top:12px;
			float:left;
			/* border: 1px solid red; */
		}
		#top-search img{
			
			width:196px; 
			height:57px ;
			
			/* margin: 5px; */
		}
		#top-search #首页{
			margin-left:150px;
			margin-top:30px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
		}
		#top-search #我的订单{
			margin-left:60px;
			margin-top:30px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
		}
		#top-search #申请加盟{
			margin-left:60px;
			margin-top:30px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
		}
		#top-search #搜索{						
			margin-left:60px;
			margin-top:23px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
		
		}
		
		 #top-search input{			
			width:260px; 
			height:34px ;
			border:none

		} 
		#top-search #搜索 div{
			
			float:left;
			border: 1px solid #e5e5e5;
		}
		
		#top-search #搜索 img{
			width:40px; 
			height:36px ;
		}
		
	

		#商家表{
			width:1000px;
			height: auto;
			margin: 10px auto;
			/* border:1px solid grey; */
			background-color: #f5f5f5f5;
		}

		
		#商家分类{		
			height: 90px;
			margin: 0px auto;
			/* border:1px solid blue; */
			background-color: #ffffff;

		}
		#商家分类 #商家类别{
			margin-left:30px;
			margin-top:30px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
		}
		#商家分类 #全部{
			margin-left:50px;
			margin-top:30px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
		}
		#商家分类 #美食{
			margin-left:20px;
			margin-top:30px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
		}
		#商家分类 #正餐优选{
			margin-left:20px;
			margin-top:30px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
			
		}
		#商家分类 #超市{
			margin-left:20px;
			margin-top:30px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
		}
		#商家分类 #精选小吃{
			margin-left:20px;
			margin-top:30px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
		}
		#商家分类 #鲜果购{
			margin-left:20px;
			margin-top:30px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
		}
		#商家分类 #下午茶{
			margin-left:20px;
			margin-top:30px;
			float:left;
			/* border: 1px solid red; */
			font-size: 17px;
		}
		
		

		#商家{
			
			margin: 10px auto 0px auto;
			/* border:1px solid red; */
			background-color: #ffffff;

		}

		#加载更多{
			height: 50px;
			margin: 0px auto;
			border:1px solid white;
			text-align: center;
			font-size: 15px;
			background-color: #ffffff;
			
		}
		#加载更多 div{
			margin:10px;
			
			font-size:15px;
		}
		
		#右下固定框{
			background-color: aquamarine;
			position: fixed;
			height:160px;
			width:40px;
			right: 20px;
			bottom:30px;
			background-color: #313131;

		}

		#foot{

			height: 245px;
			margin: 20px auto 0px auto;
			/* border:1px solid red; */
		}

		#foot-more{
			height: 185px;
			margin: 0px auto;
			/* border:1px solid green; */
			background-color: #ffffff;

		}
		#foot-more img{
			margin:20px 175px;
		}

		#foot-permit{
			height: 58px;
			margin: 0px auto ;
			/* border:1px solid red; */
			background-color: #f5f5f5f5;
		}
		
		#foot-permit img{
			margin:10px 400px;
		} 